@use "../abstracts/variables" as vars;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  font-size: 1rem;
  background-color: vars.$background-color;
}

.container {
  width: 100%;
  max-width: 996px;
  margin: auto;
}
